@import "tailwindcss";

body, html{
  background-color: black;
  width: 100%;
  overflow-x: hidden;
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

.shimmer {
  background: linear-gradient(90deg, #374151 25%, #4b5563 50%, #374151 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.shimmer-alt {
  position: relative;
  overflow: hidden;
  background-color: #374151;
}

.shimmer-alt::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.1),
    transparent
  );
  animation: shimmer-alt 1.5s infinite;
  content: '';
}

@keyframes shimmer-alt {
  100% {
    transform: translateX(100%);
  }
}
