@import "tailwindcss";

body, html{
  background-color: black;
  width: 100%;
  overflow-x: hidden;
}


/* Hide scrollbar for all browsers */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
